<app-header  [text]="nomCours"></app-header>
	<!-- Courses Details Start -->
    <div class="rs-courses-details pt-100 pb-70">
        <div class="container">
            <div class="row mb-30">
                <div class="col-lg-8 col-md-12">
                    <div class="detail-img">
                        <img src="{{flyer}}" alt="Courses Images" width="750px;" />
                        <div class="course-seats">
                            {{prixCours}} <span>Dt</span>
                        </div>
                    </div>
                    <div class="course-content">
                        <!--<h3 class="course-title">Computer Science And Engineering</h3>-->
                        <div class="course-instructor">
                            <div class="row">
                                <div class="col-md-6 mobile-mb-20">
                                    <h3 class="instructor-title">COURSE <span class="primary-color">INSTRUCTOR</span></h3>
                                    <div class="instructor-inner">
                                        <div class="instructor-img">
                                            <img src="assets/images/teachers/2.jpg" alt="Teachers Images" />
                                        </div>
                                        <div class="instructor-body">
                                            <h3 class="name">{{nomEnseignant}}</h3>
                                            <span class="designation">English Professor</span>
                                            <div class="social-icon">
                                                <a href="#"><i class="bi bi-facebook"></i></a>
                                                <a href="#"><i class="bi bi-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="instructor-title">BASIC <span class="primary-color">INFORMATION</span></h3>
                                    <div class="row info-list">
                                        <div class="col-md-6">
                                            <ul>
                                                <li>
                                                    <span>Name :</span> {{nomCours}}
                                                </li>
                                                <li>
                                                    <span>Price :</span> {{prixCours}} Dt
                                                </li>
                                              
                                                <li>
                                                    <span>Category :</span> {{categorieCours}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul>
                                                <li>
                                                    <span>Published :</span><br>{{dateDePublication}}
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="apply-btn">
                                        <a href="#">APPLY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-desc">
                        <h3 class="desc-title">Course Description</h3>
                        <div class="desc-text">
                            <p>{{descriptionCours}}</p>
                          </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-area">
                        <div class="search-box">
                            <h3 class="title">Search Courses</h3>
                            <div class="box-search">
                                <input class="form-control" placeholder="Search Here ..." name="srch-term" id="srch-term" type="text">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="cate-box">
                            <h3 class="title">Courses Categories</h3>
                            <ul>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Analysis & Features <span>(05)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Video Reviews <span>(07)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Engineering Tech <span>(09)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#"> Righteous Indignation <span>(08)</span></a>
                                </li>
                                <li>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">General Education <span>(04)</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="latest-courses">
                            <h3 class="title">Related Courses</h3>
                            
                            <div *ngFor="let c of coursesSameCat " class="post-item">
                                <div class="post-img">
                                    <a href="#"><img src="{{c.flyer}}" alt="" title="News image"></a>
                                </div>
                                <div class="post-desc">
                                    <h4><a target="_blank" [routerLink]="['details']"[queryParams]="{id: c.idCours,name:c.nomCours,teacher:c.nomEnseignant,description:c.descriptionCours,date:c.dateDePublication,
                                                       price:c.prixCours,image:c.flyer,categorie:c.categorieCours}">
                                            {{c.nomCours}}
                                        </a>
                                    </h4>
                                    <span class="duration"> 
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{c.dateDePublication}}
                                    </span> 
                                    <span class="price">Price: <span>{{c.prixCours}} DT</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="tags-cloud clearfix">
                            <h3 class="title">courses Tags</h3>
                            <ul>
                                <li>
                                    <a href="#">SCIENCE</a>
                                </li>
                                <li>
                                    <a href="#">HUMANITIES</a>
                                </li>
                                <li>
                                    <a href="#">DIPLOMA</a>
                                </li>
                                <li>
                                    <a href="#">BUSINESS</a>
                                </li>
                                <li>
                                    <a href="#">SPROTS</a>
                                </li>
                                <li>
                                    <a href="#">RESEARCH</a>
                                </li>
                                <li>
                                    <a href="#">ARTS</a>
                                </li>
                                <li>
                                    <a href="#">ADMISSIONS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Courses Details End -->